/* @reference "tailwindcss"; */
@reference "@styles/global.css";


.project-carousel-item {
    & h1 {
        @apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance mt-8;
    }
    & h2 {
        @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight mt-8;
    }
    & h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight mt-5;
    }
    & h4 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight mt-4;
    }
    & h1, & h2, & h3, & h4, & h5, & h6 {
        &:first { @apply mt-0; }

    }
    /* & h5 {
        
    }
    & h6 {

    } */



    & p {
        @apply leading-7;
        &:not(:first-child) {
            @apply mt-6;
        }
    }

    & blockquote {
        @apply mt-6 border-l-2 pl-6 italic;
    }

    & div.table-wrapper:has(&>table) {
        @apply my-6 w-full overflow-y-auto;
    }
    & table {
        @apply w-full;
    }

    & tr {
        @apply m-0 border-t p-0;  

        &:nth-child(even) {
            @apply bg-muted;
        }

        & th {
            @apply border px-4 py-2 text-left font-bold;
        }
        
        & td {
            @apply border px-4 py-2 text-left;
        }
        & th[align=center], td[align=center] {
            @apply text-center;
        }
        & th[align=right], td[align=right] {
            @apply text-right;
        }
    }

    & ul {
        @apply my-6 ml-6 list-disc;
        &>li {
            @apply mt-2;
        }
    }

    & *:not(pre)>code {
        @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    & .typ-lead {
        @apply text-muted-foreground text-xl;
    }

    & .typ-large {
        @apply text-lg font-semibold;
    }

    & .typ-small {
        @apply text-sm leading-none font-medium;
    }

    & .typ-muted {
        @apply text-muted-foreground text-sm;
    }

    
    & pre:has(>code:only-child):not([data-language]) {
        overflow-x: auto;
    }
}



.TooltipContent {
    width: max-content;
    max-width: calc(min(90svw, 150*var(--spacing)));
}

.TooltipContent > div {
    /* width: max-content; */
    width: 100%;
    max-width: 100%;
}

.TooltipContent p {
    width: 100%;
    /* width: max-content; */
    /* max-width: 100%; */
    margin: 0;
}

/*
.TooltipContent, .TooltipContent * {
    white-space: collapse;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
}
*/

/* .TooltipContent>*{
    outline: 1px solid blue;
}

.TooltipContent>*>* {
    outline: 1px solid green;
}

.TooltipContent>*>*>* {
    outline: 1px solid magenta;
} */