.CollapsibleContent {
	overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}


.embla__slide {
	margin-left: 16em;
	/* padding-left: 1em; */
	/* padding-right: 1em; */
	/* white-space-collapse: collapse; */
}

.embla__slide:first-child {
	margin-left: 0;
}

/* .embla__slide:last-child {
	margin-right: 0;
} */




.project-carousel-item-card.enable-text-selection .project-carousel-item-text {
	/* &:not(:has(>article,p)), &>article:not(:has(p)), &>article p { */
	&:not(:has(>article,p)), &>article {
		user-select: text;
		background-color: var(--color-gray-200);
	}
}

.dark .project-carousel-item-card.enable-text-selection .project-carousel-item-text {
	/* &:not(:has(>article,p)), &>article:not(:has(p)), &>article p { */
	&:not(:has(>article,p)), &>article {
		background-color: var(--color-gray-800);
	}
}

.fslightbox-container {
	pointer-events: auto;
}