.story {
    .markdown h1 {
        font-size: xx-large;
        font-weight: bolder;
        text-decoration: 2px solid underline;
        text-align: center;
    }
}



/****************** HEADER / FOOTER *********************/

.story-layout header {
    position: fixed;
}

/************* TITLE ****************************/

/* .story .header-space {} */

.story-title {
    display: flex;
    flex-direction: row;

    justify-items: center;
    align-content: center;
    justify-content: center;

    margin: 2rem 0 6rem 0;
    & h1 {
        .dark & {
            color: white;
        }
        font-size: xx-large;
        /* color: white; */
        text-align: center;
    }
}

/**************** IMMERSIVE ****************************/

.story.immersive {

    /* & .story-scroll-content {
        
    } */
    & .story-main {
        padding: 0;
        /* background-color: black; */
        /* scroll-padding-top: 0; */
    }
}

.story-layout .background {
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: hidden;
}


/****************** MAIN *******************************/

.content-marker {
    display: inline;
    visibility: hidden;
}

.story-layout .body-content {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.story {
    position: absolute;
    width: 100%; height: 100%;
    /* width: 100svw; height: 100svh; */
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 0; margin: 0;
}

/* Desktop */
@media screen and (width>=60rem) {
    /* .story-scroll-content {} */
    .story-main {
        position: relative;
        transition: 
            padding 400ms, 
            background-color 500ms;
        display: grid;
        grid-template-columns: fit-content 1fr;
        grid-template-rows: min-content;
        width: 100vw;
        padding: 0 8rem; margin: 0;
        gap: 4vw;
    }
}

/* Mobile */
@media screen and (width<60rem) {
    .story-main {
        padding: 0 10vw;
    }
    .timeline {
        display: none;
    }
}

/********************** SECTIONS/SIDEBAR ******************/

.story-sidebar-wrapper {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    overflow-y: visible;
    overflow-x: clip;
    height: 100vh;
    grid-template-rows: 0 min-content;
    /* outline: 5px solid white; */
}

.story-sidebar-wrapper > .pin-spacer {
    height: 100vh !important;
    display: block;
    position: unset !important;
    grid-column: 1 !important;
    grid-row: 2 !important;
    flex-basis: unset !important;
    place-self: unset !important;
    inset: unset !important;
}

.story-sidebar {
    height: 100vh;
}
/* 
.story-sidebar:not(.pinned) {
    transform: none !important;
} */


/*********************** SECTIONS *************************/

.story-sections {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

/* .story-section.active {
}


.immersive .story-section.active {

} */

.immersive .story-section:not(:has(.story-subsection)), .story-subsection {
    min-height: 100vh;
}

.story-section {
    /* color: rgba(255,255,255,5%) !important; */
    opacity: 0.8;
    clear: both;
    outline-offset: -8px;
}

/* .story-section .story-subsection {
    background-color: blue;
    min-height: 100vh;
} */

.story-sections-end {
    display: block;
    height: 10vh;
    outline: 10px solid red;
}

.story-section:first-child h2:first-of-type {
    margin-top: 0;
}



/*********************** COLUMNS *************************/


@media screen and (width >= 60rem) {
    .two-column-split:has(>.right) {
        flex-direction: row-reverse;
    }
    .two-column-split {
        display: inline-flex;
        width: 100%;
        justify-content: stretch;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        /* gap: calc(min(10vw, 1.5rem)); */
        gap: 24px;
        flex-direction: row;
    }
    
    .two-column-split .column.image {
        min-width: calc(min(15rem, 250px));
        max-height: 90vh;
        max-width: calc(min(20vw));
        width: max-content;
        height: auto;
        resize: both;
    }
}

@media screen and (width < 60rem) {
    .two-column-split {
        /* TODO */
        width: 100%;
        /* clear: both; */
    }
    .two-column-split .column {
        clear: none;
    }
    .two-column-split .column.image {
        max-width: 30vw;
        max-height: 40vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-items: center;
        /* flex-grow: 1; */
        &.left {
            float: left;
            clear: right;
            margin-right: calc(min(3vw,1rem));
        }
        &.right {
            float: right;
            clear: left;
            margin-left: calc(min(3vw,1rem));
        }
        & img {
            resize: both;
            height: max-content;
            width: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

/*********************** SIDEBAR *************************/

.story-sidebar-wrapper {
    position: relative;
    width: 20vw;
    /* border: 1px solid green; */
    display: grid;
    grid-row: 1;
    grid-column: 1;
    overflow-x: hidden;
    overflow-y: clip;
    height: 100vh;
    grid-template-rows: 0 min-content;
    grid-template-columns: auto;
    /* justify-items: center;
    align-items: center; */
    /* padding: 5vmin; */
}

@media screen and (width < 60rem) {
    .story-sidebar-wrapper {
        display: none;
    }
}

.story-sidebar-item {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    /* overflow: visible; */

    display: flex;
    height: 100%;
    width: auto;
    padding: 2vmin;
    justify-content: center;
    align-content: center;
}

.story-sidebar-image {
    justify-items: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    width: max-content;
    height: auto;
    &>img{
        width: auto; height: max-content; resize: both;
        max-height: 100%; max-width: 100%;
    }
}

.story-sidebar-markdown {
    color: lemonchiffon;
    height: min-content;
    /* width: max-content; */
    width: 100%;
}

/* .story-sidebar-elem {

} */



/********************** NAVIGATION ******************/

nav.floating-nav {
    position: fixed;
    top: 10px; right: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: normal;
    background: #0000007d;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav.floating-nav a {
    line-height: 1.7;
    text-decoration: none;
    color: white;
    opacity: 0.6;
}

nav.floating-nav a:hover {
    text-decoration: underline;
    /* opacity: 1.0; */
}

nav.floating-nav a.active {
    opacity: 1;
}


nav.floating-nav .nav-item {
    --nav-indent: 1.2em;
    &[data-nav-depth="0"] {
        color: red !important;
    }
    &[data-nav-depth="1"] {
        padding-left: var(--nav-indent);
    }

    &[data-nav-depth="2"] {
        padding-left: calc(2*var(--nav-indent));
    }

    &[data-nav-depth="3"] {
        padding-left: 8em;
    }

    &[data-nav-depth="4"] {
        display: none;
    }

    &[data-nav-depth="5"] {
        display: none;
    }

    &[data-nav-depth="6"] {
        display: none;
    }
}





/********************** BACKDROP ********************/

/* .immersive .parallax-backdrop {
    display: block;
    visibility: visible;
} */


.parallax-backdrop-wrapper, .parallax-backdrop {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    /* visibility: hidden; */
    /* display: none; */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
}

.parallax-backdrop-wrapper {
    overflow: clip;
}

.parallax-backdrop {
    overflow: hidden;
}

.parallax-image-wrapper {
    position: absolute;
    opacity: 0;
    /* display: none; */
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax-image-null {
    width: 100%;
    height: 100%;
}

.dark .parallax-image {
    filter: invert(0.1);
}

.parallax-image {
    width: auto;
    height: auto;
    min-height: 150%;
    background-size: cover;
    filter: invert(0.9);
}



.timeline {
    position: absolute;
    left: 0;
    right: calc(100%-15vw);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 15vw;
    overflow: visible;
    pointer-events: none;
}


.dark .timeline-line {
    stroke: white;
}
/* :root:not(.dark) .timeline-line {
    stroke: black !important;
} */
.timeline-line {
    stroke: black;
    fill: none;
    stroke-width: 2px;
}

.dark .timeline-ball  {
    fill: white;
}

.timeline-ball {
    stroke: none;
    fill: black;
    /* r: 1vmin !important; */
}

.dark .timeline-text {
    fill: white;
}
.timeline-text {
    fill: black;
    stroke: none;
    font-size: 1rem;
    /* z-index: -100; */
}


.dark .timeline-path {
    stroke: white;
}
.timeline-path {
    stroke-width: 5px;
    fill: none;
    stroke: black;
}

